@{
    ViewData["Title"] = "StoreApp";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в StoreApp!</h1>
    <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="GetOrdersByFilter">Смотреть заказы</a>
</div>

