@{
    ViewData["Title"] = "Ошибка";
}

<h1 class="text-danger">Ошибка.</h1>
<h2 class="text-danger">"Не должно существовать 2х заказов от одного поставщика с одинаковыми номерами"</h2>

<a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="GetOrdersByFilter">Смотреть заказы</a>



